@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forza sempre dark mode */
html.dark {
    color-scheme: dark;
}

html.dark body {
    background-color: #000;
    color: #fff;
}

/* Nasconde la scrollbar ma permette lo scorrimento */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}